Binaries
Build
DerivedDataCache
Intermediate
Saved
Platforms
Images
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace
.idea
Plugins/KantanCharts/Binaries
Plugins/KantanCharts/Intermediate